<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @staff.name %>
</p>

<p>
  <strong>Hours:</strong>
  <%= @staff.hours %>
</p>

<p>
  <strong>Job role:</strong>
  <%= @staff.job_role %>
</p>

<p>
  <strong>Mon start:</strong>
  <%= @staff.mon_start %>
</p>

<p>
  <strong>Mon end:</strong>
  <%= @staff.mon_end %>
</p>

<p>
  <strong>Tue start:</strong>
  <%= @staff.tue_start %>
</p>

<p>
  <strong>Tue end:</strong>
  <%= @staff.tue_end %>
</p>

<p>
  <strong>Wed start:</strong>
  <%= @staff.wed_start %>
</p>

<p>
  <strong>Wed end:</strong>
  <%= @staff.wed_end %>
</p>

<p>
  <strong>Thu start:</strong>
  <%= @staff.thu_start %>
</p>

<p>
  <strong>Thu end:</strong>
  <%= @staff.thu_end %>
</p>

<p>
  <strong>Fri start:</strong>
  <%= @staff.fri_start %>
</p>

<p>
  <strong>Fri end:</strong>
  <%= @staff.fri_end %>
</p>

<p>
  <strong>Sat start:</strong>
  <%= @staff.sat_start %>
</p>

<p>
  <strong>Sat end:</strong>
  <%= @staff.sat_end %>
</p>

<p>
  <strong>Sun start:</strong>
  <%= @staff.sun_start %>
</p>

<p>
  <strong>Sun end:</strong>
  <%= @staff.sun_end %>
</p>

<%= link_to 'Edit', edit_staff_path(@staff) %> |
<%= link_to 'Back', staffs_path %>
